.todo-title > .MuiTypography-colorTextSecondary {
  font-size: .75rem;
}

@media only screen and (max-width: 380px) {
  .MuiIconButton-root {
    padding: 8px !important;
  }
  .todo-title {
    max-width: 90px;
  }
}