.todo-title {
  max-width: 210px;
}
.todo-title > .MuiTypography-colorTextSecondary {
  font-size: 0.75rem;
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .MuiListItemSecondaryAction-root {
    display: flex;
    flex-direction: column;
  }
  .MuiListItemSecondaryAction-root > button {
    padding: 4px;
  }
}