h1,
p {
  font-family: Lato;
}
html {
  background-color: #eeeeee;
}
.todo-area {
  margin-top: 1rem;
  max-width: 25rem;
  min-height: 15rem;
  min-height: 95vh;
  max-height: 95vh;
  margin-left: auto;
  margin-right: auto;
}
.todo-area > .MuiCardHeader-root {
  background-color: #303f9f;
  color: white;
}
.todo-area > .MuiCardHeader-root > .MuiCardHeader-content > .MuiTypography-colorTextSecondary {
  color: white;
}
@media only screen and (max-device-width: 420px) and (orientation: portrait) {
  .todo-area {
    min-height: 100vh;
    max-height: 100vh;
  }
}